# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtual environment
venv/
env/

# FAISS / vector stores
vector_store/

# Uploads / user files
uploads/

# Backend __pycache__ folders
backend/services/__pycache__/
backend/controllers/__pycache__/
backend/routes/__pycache__/
